@model List<LMS.App.Web.Models.UserViewModel>
@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    @*$(function() {
        $('.btn-update').click(function () {
            var element = this;
            var root = '@Url.Content("~")';
            $('#loadingElement').show();
            $.ajax({
                type: 'GET',
                url: root + 'Manage/UpdateRole',
                data: { 'userId': $(this).attr('data-id'), 'roleId': $(element).prev().val() },
                dataType: 'json',
                success: function() {
                    $('#loadingElement').hide();
                    $('#status').text("User roles Updated");
                },
                error: function (req, status, err) {
                    alert('unable to update the role, sorry, pls. try again... ' + err);
                    $('#loadingElement').hide();
                }
            });
        });
    });*@
     $(function () {
            //Remove the dummy row if data present.
            if ($("#tblCustomers tr").length > 2) {
                $("#tblCustomers tr:eq(1)").remove();
            } else {
                var row = $("#tblCustomers tr:last-child");
                row.find(".Edit").hide();
                row.find(".Delete").hide();
                row.find("span").html('&nbsp;');
            }
        });

        function AppendRow(row, customerId, name, country) {
            //Bind CustomerId.
            $(".CustomerId", row).find("span").html(customerId);

            //Bind Name.
            $(".Name", row).find("span").html(name);
            $(".Name", row).find("input").val(name);

            //Bind Country.
            $(".Country", row).find("span").html(country);
            $(".Country", row).find("input").val(country);

            row.find(".Edit").show();
            row.find(".Delete").show();
            $("#tblCustomers").append(row);
        };

        //Add event handler.
        $("body").on("click", "#btnAdd", function () {
            var txtName = $("#txtName");
            var txtCountry = $("#txtCountry");
            $.ajax({
                type: "POST",
                url: "/Home/InsertCustomer",
                data: '{name: "' + txtName.val() + '", country: "' + txtCountry.val() + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    var row = $("#tblCustomers tr:last-child");
                    if ($("#tblCustomers tr:last-child span").eq(0).html() != "&nbsp;") {
                        row = row.clone();
                    }
                    AppendRow(row, r.CustomerId, r.Name, r.Country);
                    txtName.val("");
                    txtCountry.val("");
                }
            });
        });

        //Edit event handler.
        $("body").on("click", "#tblCustomers .Edit", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    $(this).find("input").show();
                    $(this).find("span").hide();
                }
            });
            row.find(".Update").show();
            row.find(".Cancel").show();
            row.find(".Delete").hide();
            $(this).hide();
        });

        //Update event handler.
    $("body").on("click", "#tblCustomers .Update", function () {
        debugger;
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    span.html(input.val());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Cancel").hide();
            $(this).hide();

            var user = {};
        user.UserName = row.find(".CustomerId").find("span").html();
        user.UserEmailAddress = row.find(".Name").find("span").html();
        user.UserId = row.find(".UserId").find("span").html();
        user.RoleId = row.find(".UserId").find("span").html();
            $.ajax({
                type: "POST",
                url: "/Manage/UpdateUser",
                data: '{user:' + JSON.stringify(user) + ',roleid:' + user.RoleId+'}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.success) {
                        alert("Successfully Updated");
                    } else {
                        // DoSomethingElse()
                        alert('unable to update the role, sorry, pls. try again... ');
                    }
                },
                error: function (req, status, err) {
                    alert('unable to update the role, sorry, pls. try again... ' + err);
                    $('#loadingElement').hide();
                }
            });
        });

        //Cancel event handler.
        $("body").on("click", "#tblCustomers .Cancel", function () {
            var row = $(this).closest("tr");
            $("td", row).each(function () {
                if ($(this).find("input").length > 0) {
                    var span = $(this).find("span");
                    var input = $(this).find("input");
                    input.val(span.html());
                    span.show();
                    input.hide();
                }
            });
            row.find(".Edit").show();
            row.find(".Delete").show();
            row.find(".Update").hide();
            $(this).hide();
        });

        //Delete event handler.
        //$("body").on("click", "#tblCustomers .Delete", function () {
        //    if (confirm("Do you want to delete this row?")) {
        //        var row = $(this).closest("tr");
        //        var customerId = row.find("span").html();
        //        $.ajax({
        //            type: "POST",
        //            url: "/Home/DeleteCustomer",
        //            data: '{customerId: ' + customerId + '}',
        //            contentType: "application/json; charset=utf-8",
        //            dataType: "json",
        //            success: function (response) {
        //                if ($("#tblCustomers tr").length > 2) {
        //                    row.remove();
        //                } else {
        //                    row.find(".Edit").hide();
        //                    row.find(".Delete").hide();
        //                    row.find("span").html('&nbsp;');
        //                }
        //            }
        //        });
        //    }
        //});
</script>

<h2>
    Index
    <img src="@Url.Content("~/Content/loader-transparent.gif")" alt="" id="loadingElement" style="display: none" />
</h2> 
 <div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        
            <tr>
                <th style="width:100px">User Id</th>
                <th style="width:150px">Full Name</th>
                <th style="width:150px">EmailAddress</th>
                <th style="width:150px">Role</th>
            </tr>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="UserId">
                        <span>@user.UserId</span>
                        <label type="text" value="@user.UserId" style="display:none" />
                    </td>
                    <td class="CustomerId">
                        <span>@user.UserName</span>
                        <input type="text" value="@user.UserName" style="display:none" />
                    </td>
                    <td class="Name">
                        <span>@user.EmailAddress</span>
                        <input type="text" value="@user.EmailAddress" style="display:none" />
                    </td>

                    <td class="RoleId">
                        <span>
                            @{
                                foreach (var item in user.Rolelist.Where(x => x.Selected))
                                {
                                    @Html.DropDownList("SelectedRole", new SelectList(user.Rolelist, "Value", "Text", item.Value), "Select a Role")
                                }
                            }
                        </span>
                        @*<input type="button" data-id="@user.UserId" value="set" class="btn-update" />*@
                    </td>
                    <td class="Name">
                        <a class="Edit" href="javascript:;">Edit</a>
                        <a class="Update" href="javascript:;" style="display:none">Update</a>
                        <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                        <a class="Delete" href="javascript:;">Delete</a>
                    </td>
                    @*<span id="status" style="text-decoration-color:green;color:limegreen;"></span>*@
                </tr>
            }
        </table>
        </div>
     </div>
     
